.icon-close {
  width: 1em;
  height: 1em;
}

.icon-instagram {
  width: 1em;
  height: 1em;
}

.icon-logo-close {
  width: 0.53em;
  height: 1em;
}

.icon-logo-open {
  width: 0.53em;
  height: 1em;
}

.icon-logo {
  width: 1.93em;
  height: 1em;
}

.icon-menu {
  width: 1em;
  height: 1em;
}

.icon-twitter {
  width: 1em;
  height: 1em;
}

